{% extends "app/base.html" %}
<html lang="en">
{% block content %}
<form action="{% url 'app:addPerson_get' %}" method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Add Person?</th>
                </tr>
            </thead>
            <tr>
                <td>{{  form.name }}</td>
                <td><input type="submit" name="person" value="Add Person"></td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}
</html>